body {
    margin: 0;
    font-family: merriweather;
}

/* MENU */

#menu {
    width: 500px;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.menu-btn {
    font-size: 1.4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    transition: font-size 600ms, padding-top 600ms, padding-bottom 600ms;
    cursor: pointer;
}

.menu-btn:hover {
    padding: 0;
    font-size: 1.6em;
}

.menu-btn:hover::before {
    content: "< ";
}

.menu-btn:hover::after {
    content: " >";
}

/* GAME */

#game {
    background-color: rgb(44, 44, 44);
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    padding-top: 10px;
    padding-left: 10px;
    display: none;
}

#msg-input-box {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #ffc7fa;
    font-size: 1.4em;
}

#text-cursor {
    font-family: monospace;
    animation: blink 1s linear 0s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#chat {
    color: white;
}

.status-msg {
    color: rgb(147, 229, 151);
    font-weight: bold;
    font-style: italic;
}
.win-msg {
    color: rgb(255, 210, 85);
    font-weight: bold;
}
.player-name {
    color: rgb(189, 119, 221);
    font-weight: bold;
}